# =========================
# Python
# =========================
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# =========================
# Virtual Environment
# =========================
.venv/
venv/

# =========================
# IDE
# =========================
.idea/
.vscode/

# =========================
# Operating System
# =========================
Thumbs.db
.DS_Store

# =========================
# Logs
# =========================
*.log

# =========================
# Large Dataset
# =========================
data/raw/loan.csv